DEBUG=False
SECRET_KEY=defina sua chave secreta
ALLOWED_HOSTS=
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
INTERNAL_IPS = 127.0.0.1
SENTRY_DSN=

# Configurações de Email
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True