{% extends 'base.html' %}
{% load static %}

{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página com vídeo para saber qual a sua área em TI{% endblock description %}

{% block body %}
    <div class="container">
      <div class="row">
		<div class="col-md-12">

			<h1 class="mt-4 mb-3">Aperitivo: Motivação</h1>
        <iframe src="https://player.vimeo.com/video/799826779?h=be5ee2d29c" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
      </div>
    </div>

{%  endblock body %}
